.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: black;
}

.movie-search {
  height: 48px;
  width: 475px;
  margin-bottom: 32px;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}

.movie-title {
  height: 60px;
  font-weight: bold;
  margin-top: 30px;
}

.movie-date,
.movie-rating {
  height: 30px;
}

.movie-date {
  margin-top: 15px;
  font-weight: bold;
}

.movie-rating {
  margin-bottom: 15px;
  font-weight: bold;
  color: rgb(255, 162, 0);
}
